<div class="container">
  <div class="row">
    <div class="col-8">
      <h2>Tienda</h2>
      <div class="gridi">
        <div *ngFor="let ant of Ant" [ngClass]="{disponible: ant.stock != 0}" class="w-25">
          <div class="card d-inline-flex hedit" style="width: 18rem;">
            <img [src]="ant.img" class="card-img-top" [alt]="ant.img">
            <div class="card-body bg-dark h-25">
              <h5 class="card-title text-light">{{ ant.name | uppercase }}</h5>
              <p class="card-text">{{ ant.price | currency }}</p>
              <p class="card-text">{{ ant.description }}</p>
              <app-input-integer [(quantity)]="ant.quantity" [max]="ant.stock" *ngIf="ant.stock != 0"></app-input-integer>
              <a [ngClass]="{btnDanger: ant.stock == 0}" (click)="addToCarrito(ant)" class="btn btn-primary mt-4">
                {{ ant.stock != 0 ? 'Añadir al Carrito' : 'No hay Stock' }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <app-app-carrito-componente ></app-app-carrito-componente>
    </div>
  </div>
</div>
