<div *ngFor="let ber of beer" [ngClass]="{disponible: ber.stock!=0}">
    <img [src]="ber.img" [alt]="ber.img" class="mr-4">
    <p class="d-inline mx-5">{{ber.name | uppercase}}</p>
    <p class="d-inline mx-5">{{ber.price | currency}}</p>
    <p *ngIf="ber.stock==0" class="d-inline"><span class="badge badge-warning text-dark d-inline">No hay stock</span>
    </p>
    <button class="btn btn-primary btn-sm" #inputQuantity (click)="downQuantity(ber)">-</button><input type="number" class="mw-2"
        [(ngModel)]="ber.quantity" 
        (keyup)="verifyQuantity(ber)" id=""><button class="btn btn-primary btn-sm" (click)="upQuantity(ber)">+</button>
    <p>{{ber.quantity}}</p>
</div>